CalculatorServiceProxyClient/Service References/CalculatorWinServiceReference/SimpleCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleCalculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4200/CalculatorWinService/SimpleCalculator/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4200/CalculatorWinService/SimpleCalculator/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4200/CalculatorWinService/SimpleCalculator/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalculatorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleCalculator_AddNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNumbers" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_AddNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_SubtractNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SubtractNumbers" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_SubtractNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_MultplyNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:MultplyNumbers" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_MultplyNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultplyNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_DivideNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:DivideNumbers" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_DivideNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleCalculator">
    <wsdl:operation name="AddNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleCalculator/AddNumbers" message="tns:ISimpleCalculator_AddNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleCalculator/AddNumbersResponse" message="tns:ISimpleCalculator_AddNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubtractNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleCalculator/SubtractNumbers" message="tns:ISimpleCalculator_SubtractNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleCalculator/SubtractNumbersResponse" message="tns:ISimpleCalculator_SubtractNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultplyNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleCalculator/MultplyNumbers" message="tns:ISimpleCalculator_MultplyNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleCalculator/MultplyNumbersResponse" message="tns:ISimpleCalculator_MultplyNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivideNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleCalculator/DivideNumbers" message="tns:ISimpleCalculator_DivideNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleCalculator/DivideNumbersResponse" message="tns:ISimpleCalculator_DivideNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleCalculator/GetDataUsingDataContract" message="tns:ISimpleCalculator_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleCalculator/GetDataUsingDataContractResponse" message="tns:ISimpleCalculator_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimpleCalculator" type="tns:ISimpleCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNumbers">
      <soap:operation soapAction="http://tempuri.org/ISimpleCalculator/AddNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractNumbers">
      <soap:operation soapAction="http://tempuri.org/ISimpleCalculator/SubtractNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultplyNumbers">
      <soap:operation soapAction="http://tempuri.org/ISimpleCalculator/MultplyNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideNumbers">
      <soap:operation soapAction="http://tempuri.org/ISimpleCalculator/DivideNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISimpleCalculator/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleCalculator">
    <wsdl:port name="BasicHttpBinding_ISimpleCalculator" binding="tns:BasicHttpBinding_ISimpleCalculator">
      <soap:address location="http://localhost:4200/CalculatorWinService/SimpleCalculator/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>